{% extends "layouts/post_page_layout.html" %}

{% set title_page = 'Paper Search' %}

{% block content %}
    <section id="services">
      <div class="container">
        <div class="row  row-title-subtitle-cont">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Paper Search</h2>
            <h3 class="section-subheading text-muted">Free-text search over the Arxiv Dataset</h3>
          </div>
        </div>
        {% raw %}
        <div class="row text-center">
            <script id="address-template" type="text/x-handlebars-template">
                <h3>Search results from query: <b>{{selectedWord}}</b></h3>
                <table class="similar-words table-striped table paperFontSize">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Similar papers</th>
                            <th scope="col">Options</th>
                            <th scope="col">Score</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each top_words}}
                            <tr>
                                <td>{{this.title}}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                      <button class="btn btn-primary btn-sm" type="button"
                                            data-toggle="collapse" data-target="#accordion{{@index}}"
                                            aria-expanded="false" aria-controls="accordion{{@index}}">
                                        Abstract</button>
                                      <a type="button" href="https://arxiv.org/abs/{{this.paper_id}}" target="_blank" class="btn btn-success btn-sm">Paper Page</a>
                                      <a type="button" href="https://arxiv.org/pdf/{{this.paper_id}}.pdf" target="_blank" class="btn btn-danger btn-sm">PDF</a>
                                    </div>

                                </td>
                                <td>{{this.distance}}</td>
                                <tr id="accordion{{@index}}" class="collapse">
                                    <td colspan="3">
                                        {{this.abstract}}
                                    </td>
                                </tr>
                            </tr>

                        {{/each}}

                    </tbody>

                </table>
            </script>
    </div>
        {% endraw %}
        <div class="row justify-content-center align-items-center">
                <div class="col col-sm-12 col-md-12">
                 <div data-embedding-type="paper" id="input-form">
                        <form class="form-inline" onsubmit="return false;">
                            <div class="input-group mb-2 col-md-10">
                                <input type="text" class="form-control search-box-papers" id="search-box">
                            </div>
                            <div class="input-group mb-2 col-md-2">
                                <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
                            </div>
                        </form>

                    </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="loading-icon-holder">
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="content-placeholder">
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
<script>
    $(function () {
        var searchRoute = '/search-papers'
        var tableData, context;

        var searchPapers = function(searchTerm, embeddingType) {
            $loading.show();
            $.get(searchRoute, {'query': searchTerm, 'embedding_type': embeddingType}, function(data) {
                $loading.hide();
                if (data == 'Word not found') {
                    tableData = [{'distance': -1, 'label': 'Word not found in embedding labels'}]
                }
                else {
                    tableData = data;
                }
                context = {
                    'top_words': tableData,
                    'selectedWord': searchTerm
                }
                fillTable(context);
                $loading.hide();
            }, "json")
        }

        var fillTable = function(context) {
            // Grab the template script
            var theTemplateScript = $("#address-template").html();

            // Compile the template
            var theTemplate = Handlebars.compile(theTemplateScript);

            // Pass our data to the template
            var theCompiledHtml = theTemplate(context);

            // Add the compiled html to the page
            $('.content-placeholder').html(theCompiledHtml);
        }

        $(document).bind('keypress', function(e) {
            if(e.keyCode==13) {
                $('#submit-btn').trigger('click');
            }
        });

        $('#submit-btn').click(function (data) {
            var searchTerm = $('#search-box').val();
            var embeddingType = $("#embedding-type").val();
            searchPapers(searchTerm, embeddingType);
        });

        var $loading = $('.loading-icon-holder').hide();
        /*$(document)
          .ajaxStart(function () {
            $loading.show();
          })*/
    });

</script>
<!--<script src="/js/embedding_proximity.js"></script>-->

{% endblock %}
