{% extends "layouts/post_page_layout.html" %}

{% block content %}
    <section id="services">
      <div class="container">
        <div class="row  row-title-subtitle-cont">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Paper Search</h2>
            <h3 class="section-subheading text-muted">Free-text search over the Arxiv Dataset using TFIDF</h3>
          </div>
        </div>
        {% raw %}
        <div class="row text-center">
            <script id="address-template" type="text/x-handlebars-template">
                <h3>Papers similar to <b>{{selectedWord}}</b></h3>
                <table class="similar-words table-striped table paperFontSize">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Similar papers</th>
                            <th scope="col">Options</th>
                            <th scope="col">Distance</th>
                        </tr>
                    </thead>
                    <tbody>

                        {{#each top_words}}
                            <tr>
                                <td>{{this.title}}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                      <button class="btn btn-primary btn-sm" type="button"
                                            data-toggle="collapse" data-target="#accordion{{@index}}"
                                            aria-expanded="false" aria-controls="accordion{{@index}}">
                                        Abstract</button>
                                      <a type="button" href="https://arxiv.org/abs/{{this.paper_id}}" target="_blank" class="btn btn-success btn-sm">Paper Page</a>
                                      <a type="button" href="https://arxiv.org/pdf/{{this.paper_id}}.pdf" target="_blank" class="btn btn-danger btn-sm">PDF</a>
                                    </div>

                                </td>
                                <td>{{this.distance}}</td>
                            </tr>
                            <tr id="accordion{{@index}}" class="collapse">
                                    <td colspan="3">
                                        {{this.abstract}}
                                    </td>
                            </tr>
                        {{/each}}

                    </tbody>

                </table>
            </script>
    </div>
        {% endraw %}
        <div class="row justify-content-center align-items-center">
                <div class="col col-sm-12 col-md-12">
                <div data-embedding-type="paper" id="input-form">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Paper Title</label>
                    <input type="text" class="form-control input-lg search-box-papers" id="search-box">
                  </div>
                  <div class="form-group">
                    <label for="exampleSelect1">Select Embedding</label>
                    <select class="form-control" id="embedding-type">
                        <!--<option value="lsa" selected>LSA</option>-->
                        <option value="tfidf">TFIDF</option>
                    </select>
                  </div>
                  <button type="submit" id="submit-btn" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
        <hr>
        <div class="row text-center">
            <div class="col-md-12">
                <div class="content-placeholder">
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block javascript %}
<script>
    /*$(function () {
        // global variables different between word and paper embedding page. Avoids dangerous caching
        higherLevelEmbeddingType = $('#input-form').data('embedding-type');
        embeddingProximityRoute = '/' + higherLevelEmbeddingType + '-embedding-proximity';
    })*/

    $(function () {
        var searchRoute = '/search-papers'
        var tableData, context;

        var searchPapers = function(searchTerm, embeddingType) {
            $.get(searchRoute, {'query': searchTerm, 'embedding_type': embeddingType}, function(data) {
                console.log(data);
                if (data == 'Word not found') {
                    tableData = [{'distance': -1, 'label': 'Word not found in embedding labels'}]
                }
                else {
                    tableData = data;
                }
                context = {
                    'top_words': tableData,
                    'selectedWord': searchTerm
                }
                fillTable(context);
            }, "json")
        }

        var fillTable = function(context) {
            // Grab the template script
            var theTemplateScript = $("#address-template").html();

            // Compile the template
            var theTemplate = Handlebars.compile(theTemplateScript);

            // Pass our data to the template
            var theCompiledHtml = theTemplate(context);

            // Add the compiled html to the page
            $('.content-placeholder').html(theCompiledHtml);
        }

        $(document).bind('keypress', function(e) {
            if(e.keyCode==13) {
                $('#submit-btn').trigger('click');
            }
        });

        $('#submit-btn').click(function (data) {
            var searchTerm = $('#search-box').val();
            var embeddingType = $("#embedding-type").val();
            searchPapers(searchTerm, embeddingType);
        });

        // typeahead setup
        /*var currentPagesEmbeddingOptions = higherLevelEmbeddingType == 'word' ? ['gensim'] : ['lsa', 'doc2vec'];
        //var typeahead_data_to_get = currentPagesEmbeddingOptions // fasttext
        var typeahead_labels = {}

        for (let i = 0; i < currentPagesEmbeddingOptions.length; i++) {
            $.get( "get-embedding-labels", {'embedding_type': currentPagesEmbeddingOptions[i]}, function( data ) {
              var labels = data
              typeahead_labels[currentPagesEmbeddingOptions[i]] = labels
              console.log(typeahead_labels);
              if (i == 0) { // first one should be default
                  currentEmbeddingSelected = currentPagesEmbeddingOptions[i];
                  $('#search-box').val(typeahead_labels[currentPagesEmbeddingOptions[i]][Math.floor(Math.random() * typeahead_labels[currentPagesEmbeddingOptions[i]].length)]);
                  $("#search-box").autocomplete({
                      //source: typeahead_labels['gensim'], // for all
                      source: function(request, response) {
                            var results = $.ui.autocomplete.filter(typeahead_labels[currentPagesEmbeddingOptions[i]], request.term);

                            response(results.slice(0, 20));
                      },
                      minLength: 2
                  });
              }
            });
        }*/

        // if select embedding changes, get other typeahead and replace source
        /*$('#embedding-type').change(function() {
            console.log($(this).val())
            currentEmbeddingSelected = $(this).val()
            $( "#search-box" ).autocomplete('option', {'source': function(request, response) {
                            var results = $.ui.autocomplete.filter(typeahead_labels[currentEmbeddingSelected], request.term);

                            response(results.slice(0, 20));
                      }})
        });*/
    });

</script>
<!--<script src="/js/embedding_proximity.js"></script>-->

{% endblock %}
