




<!DOCTYPE html>
<html lang="en">


    <title>AI Distillery</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <!--<link href="/styles/agency.min.css" rel="stylesheet">-->
    <link href="/styles/agency.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    {% include "layouts/min_import.html" %}
    <!-- Custom scripts for this template -->



<body id="page-top">

{% block navbar %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
       <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; AI Distillery 2018</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/TheMTank">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/TheMTank/ai-distillery">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <!--<li class="list-inline-item">-->
                <!--<a href="#">-->
                  <!--<i class="fab fa-linkedin-in"></i>-->
                <!--</a>-->
              <!--</li>-->
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item">
                <a href="http://www.themtank.org">Parent Website (www.themtank.org)</a>
              </li>
              <!--<li class="list-inline-item">-->
                <!--<a href="#">Terms of Use</a>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </div>
    </footer>
{% endblock %}


{% block javascript %}

{% endblock %}

</body>
</html>
